h1 {
    color: lightcoral;
  }
  
  table {
      background-color: lightseagreen;
  }
  
  td {
      background-color: lightseagreen;
  }
  
  th {
      background-color: lightseagreen;
  }